@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #444;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
 }

h1{
  color: orange;
  font-size: 2rem;
  text-align: center;
   padding-top: 4px;
    padding-right: 100px;
    padding-left: 210px;
    margin-bottom: 0;
    margin-top: 0;
}

h2{
  color:orange;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
     }

h3{

    color: rgb(105, 228, 77);
    font-size: 1.2rem;
    text-align: centre;
    padding-left: 7px;
    margin-top: 0;
    margin-left:210px
  
    }

h4{

      color: rgb(105, 228, 77);
      font-size: 1.2rem;
      text-align: center;
      padding-left: 10px;
      margin-top: 0;
      margin-left: 100px;
            }

p1{

      color: gray;
      font-size: 1rem;
      text-align: center;
      margin-left: 240px;
      margin-top: 0;
      padding-left: 10px;
    
                    }

p2{

      color: gray;
      font-size: 1rem;
      text-align: center;
      margin-top: 0;
      padding-left: 10px;
      margin-left:240px
    
                                    }

p3{

                                      color: gray;
                                      font-size: 1rem;
                                      text-align: center;
                                      margin-top: 0;
                                      margin-left: 500px;
                                      padding-left: 20px;
                                      padding-right: 15px;
                                      letter-spacing: 3px;
                                      background-color:lavender;
                                                                                                          }

p4{

    color: gray;
    font-size: 1rem;
    text-align: center;
    margin-left: 110px;
    margin-top: 0;
    padding-left: 10x;
    padding-right: 15px;
    letter-spacing: 3px;
    background-color:lavender;
    }

/*For button*/

.glow-on-hover {
    width: 200px;
    height: 90px;
    border: none;
    outline: none;
    color: hotpink;
    background: #fff;
    cursor: pointer;
    font-size: medium;
        position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 500px;
    margin-top: 50px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/*For button*/

.glow-on-hover1 {
  width: 200px;
  height: 90px;
  border: none;
  font-size: medium;
  outline: none;
  color: hotpink;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-RIGHT: 240px;
  margin-top: 50px;
  }

  
.glow-on-hover1:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover1:active {
  color: #fff
}

.glow-on-hover1:active:after {
  background: transparent;
}

.glow-on-hover1:hover:before {
  opacity: 1;
}

.glow-on-hover1:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}






#page2{background-color: bisque;}

